.Toolbar {
  position: fixed;
  height: 56px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #32be8f;
  z-index: 100;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.Toolbar nav {
  height: 100%;
}

.Container {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.UserId {
  font-size: 0.9rem;
}
