.Phone {
    width: 500px;
}

.Container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .Phone {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .Container {
        display: none;
    }
}